/* .in-flex:first-child {
    flex: 2;
  } */

  .home__in-flex__first--section__image {
    width:100%;
    border-radius: 5% 5% 0% 0%;
    height:auto;
  }
  
  .home__in-flex__second--section {
    background:#f5f5f5;
  }

  .home__in-flex__second--section__slogan {
    color: var(--Dark-grayish-blue);
    font-size: 1em;
    letter-spacing: 3px;
    margin: 8px 24px 8px 24px;
  }

  .home__in-flex__second--section__title {
    font-family: 'Fraunces', serif;
    margin: 0px 24px 8px 24px;
    font-size: 2.2em;
    color: var(Very-dark-blue);
    line-height: 34px;
  }

  .home__in-flex__second--section__description {
    margin: 0px 24px 8px 24px;
    color:var(--Dark-grayish-blue);
    font-size: 0.95em;
    line-height: 22px;
  }
  .home__in-flex__second--section__reservation {
    font-family: 'Fraunces', serif;
    font-size: 2.3em;
    color: var(--Very-dark-blue);
    margin: 0px 24px 8px 24px;
  }

  .home__in-flex__second--section__button {
    width: 298px;
    height: 50px;
    background: var(--Dark-cyan);
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-size: 1.1em;
    font-weight: 700;
    display: block;
    margin-bottom: auto 10px;
  }

  .home__in-flex__second--section__button:hover {
    cursor: pointer;
    background: var(--very-dark);
  }