.carrusel {
    width: 100%;
    margin: auto;
    max-height: 400px;
    overflow: hidden;
   
}

.carrusel ul {
    padding: 0px;
    display: flex;
    width: 400%;
    animation:slider 20s infinite alternate;
    animation-timing-function: linear;
}

.carrusel li {
    width: 100%;
    list-style: none;
}

.carrusel li img {
    position: relative;
    width: 100%;
}

.carrusel li h1 {
font-family: 'Fraunces', serif;
font-size: 9vw;
position: absolute;
color: #fefefe;
top: 33%;
left: 33%;
transform: translate(-50%, -50%);
-webkit-text-stroke: 2px black;
}

@keyframes slider {
    0% {margin-left:0;}
    20% {margin-left:0;}

    25% {margin-left:-100%;}
    45% {margin-left:-100%;}

    50% {margin-left:-200%;}
    70% {margin-left:-200%;}

    75% {margin-left:-300%;}
    100% {margin-left:-300%;}
}

