
.imagenes{
  display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1em;
}
.image {
  position: relative;
        overflow: hidden;
        border-radius: 15px;

}

/* .in-flex .photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 5px;
    height: 20rem;
    overflow: hidden;
  } */
  
  .in-flex .photo-gallery > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    margin: 10px;
  }
  
  .in-flex .photo-gallery > a:hover {
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
  }
  
  .in-flex .photo-gallery img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform 0.5s;
  }
  
  .in-flex .linea {
    background-color: rgb(1, 8, 6);
    height: 5px;
    width: 100%;
    display: block;
  }
  
  .in-flex #inicio {
    width: 50px;
    height: 50px;
    background-color: #343536;
  }

  .light-box {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
  }
  
  .light-box img {
    width: 75vw;
    max-height: 70vh;
  }
  
  .light-box:target {
    transform: scale(1);
  }
  
  .close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #851919;
    border-radius: 50%;
    color: #ffffff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
  
  .next {
    display: block;
    background: #851919;
    color: #ffffff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
  }

  @media screen and (max-width: 400px) {
    .photo-gallery {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .close {
      top: 20px;
      right: 20px;
    }
  }