header {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: center;
}

.header__image {
  text-align: center;
}

header h1 {
  font-family: 'Fraunces', serif;
  font-size: 2.2em;
  color: #fff48f;
  border: #080808;
  line-height: 34px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
}

header h2 {
  color: #15150d;
  font-size: 1em;
  letter-spacing: 3px;
  margin: 0px 24px 8px 24px;
}