/* Importar estilos individuales */
@import url("header.css");
@import url("carusel.css");
@import url("card.css");
@import url("gallery.css");
@import url("lightbox.css");
@import url("footer.css");
@import url("videos.css");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

/* Estilos globales o compartidos */
:root {
  --main-font: "Montserrat", "Fraunces", Arial, serif, sans-serif;
  --body-color: #f0f3f6;
  --header-color: #343536;
  --red-color: #d62828;
  --green-color: #f8f8f8;
  --base-margin: 20px;
  --Dark-cyan: #f1b100;
  --Cream: hsl(30, 22%, 96%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --very-dark: #e6a900;
  --title-yellow: #fcb900;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
}

header,
.in-flex,
footer {
  padding: var(--base-margin);
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.in-flex {
  flex: 1;
  min-width: 250px;
  background-color: var(--Cream);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: var(--base-margin);
  overflow: hidden;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .in-flex {
    flex: 1;
    min-width: auto;
    margin: var(--base-margin) 0;
  }

  .in-flex div {
    margin-top: var(--base-margin);
  }
}
.team{
  text-align: center;
}
.fotosImage {
  display: flex;
  max-width: 1200px;
  height: 430px;
  margin: 2rem auto;
}

.fotosImage img {
  width: calc(25% - 20px); /* Initial width for each image */
  border-radius: 5%;
  flex-grow: 1; /* Images will grow proportionally within the container */
  object-fit: cover;
  transition: all 0.5s ease; /* Animate all properties on hover */
  opacity: 0.5;
}

.fotosImage img:hover {
  cursor: crosshair;
  width: calc(25% - 10px); /* Increase width on hover */
  opacity: 1; /* Full opacity on hover */
  filter: contrast(120%); /* Increase contrast on hover */
}

@media (max-width: 768px) { /* Media query para dispositivos con un ancho máximo de 768px */
  .fotosImages{
    max-width: 400px;
  }
  .fotosImage img {
    width: calc(25% - 20px); /* Cambiar el ancho de las imágenes para dispositivos móviles */
  }

  .fotosImage img:hover {
    width: calc(40% - 20px); /* Ajustar el ancho aumentado al pasar el cursor para dispositivos móviles */
  }
}

 
.redes {
  background-color: var(--Very-dark-blue);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  
}

.redes .iconos {
  width: 100%;
  justify-content: center;
  display: flex;
  background-color: var(--Very-dark-blue);
  border-radius: 3%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);



}
.redes .icon {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: all .8s;
  cursor: pointer;
}

.redes .icon:hover {
  background-color: #e60073;
  box-shadow:  0 0 20px #e60073 ;
}

.redes .icon:hover:nth-child(2) {
  background-color: #1877f2;
  box-shadow:  0 0 20px #1877f2;
}

.redes .icon:hover:nth-child(3) {
  background-color: #25d366;
  box-shadow: 0 0 20px #25d366 ;
}

.redes .icon:hover:nth-child(4) {
  background-color: #1da1f2;
  box-shadow:  0 0 20px #1da1f2 ;
}

.redes .icon i {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.7rem;
}

.redes svg circle {
  stroke-dasharray: 150;
  transition: all .8s ease-in-out;
}

.redes .icon:hover circle {
  stroke-dasharray: 220;
}
