:root {
  --main-font: "Century Gothic", Arial, sans-serif;
  --body-color: #ededed;
  --header-color: antiquewhite;
  --red-color: #d44747;
  --green-color: #aed03f;
  --base-margin: 1.25rem; /* 20px */
}

/* Estilos generales */
* {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

body {
  background-color: var(--body-color);
}

header,
.in-flex,
footer {
  padding: var(--base-margin);
  margin: var(--base-margin);
}

header {
  background-color: var(--header-color);
}

/* Estilos para el contenedor principal */
.home {
  display: flex;
  flex-wrap: wrap;
}

/* Estilos para los elementos flexibles */
.in-flex {
  flex: 1;
  min-width: 250px;
  background-color: var(--green-color);
}

/* Estilos específicos para el primer elemento */
.in-flex:first-child {
  flex: 2;
  background-color: var(--red-color);
}

footer {
  text-align: center;
  background-color: #333;
  color: white;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  header {
    text-align: center;
  }

  .in-flex {
    flex: 1;
    min-width: auto;
  }

  /* Asegura que los elementos dentro de aside sean 100% de ancho */
  .in-flex div {
    width: 100%;
  }
}
